<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sayweee.crashreport">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <provider
            android:name=".CrashReportProvider"
            android:authorities="${applicationId}.CrashReportProvider" />
    </application>
</manifest>